C:/Users/Adam/Main/Coding Projects/adnaot_flask_proj/Materials
C:/Users/Adam/Main/Coding Projects/adnaot_flask_proj/js
C:/Users/Adam/Main/Coding Projects/adnaot_flask_proj/venv
C:/Users/Adam/Main/Coding Projects/adnaot_flask_proj/templates