<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
  <meta charset="utf-8">
  <title>Munter - Bootstrap One Page Template</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='img/favicon.png') }}" rel="icon">
  <link href="{{ url_for('static', filename='img/apple-touch-icon.png') }}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,600,300,200&subset=latin,latin-ext" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{{ url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{{ url_for('static', filename='lib/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='lib/fancybox/fancybox.css') }}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">

  <link rel="prefetch" href="{{ url_for('static', filename='img/zoom.png') }}">
   <script type="text/javascript" src="{{ url_for('static', filename='js/customized.js') }}"></script>

  <!-- =======================================================
    Template Name: Munter
    Template URL: https://templatemag.com/munter-bootstrap-one-page-template/
    Author: TemplateMag.com
    License: https://templatemag.com/license/
  ======================================================= -->
</head>

<body data-spy="scroll" data-offset="58" data-target="#navigation">

  <!-- Fixed navbar -->
  <div id="navigation" class="navbar navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <i class="fa fa-bars"></i>
        </button>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navigatio rtl">
          <li><a href="#contact" class="smoothscroll">צרו קשר</a></li>
          <li><a href="#workshops" class="smoothscroll">סדנאות תאטרון לילדים ולמבוגרים</a></li>
          <li><a href="#music" class="smoothscroll">מוזיקה</a></li>
          <li><a href="#process" class="smoothscroll">הצגת תאטרון ניקיטוש</a></li>
          <li><a href="#clients" class="smoothscroll">כתיבת מחזות לנוער</a></li>
          <li><a href="#about-us" class="smoothscroll">אודות</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </div>
  <!-- === MAIN Background === -->
  <div class="slide story" id="intro" data-slide="1">
    <div class="container">
      <div id="home-row-1" class="row clearfix">
        <div class="col-12">
          <h1 class="font-semibold">מישל ציטיאט</h1>
          <h4 class="font-thin">הפקות תאטרון - <span class="font-semibold">פעילויות דרמה ומחול</h4>
          <br>
          <br>
        </div>
        <!-- /col-12 -->
      </div>
      <!-- /row -->
      <div id="home-row-2" class="row clearfix">
        <div class="col-12 col-sm-4"></div>
        <div class="col-12 col-sm-4"></div>
        <div class="col-12 col-sm-4"></div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /slide1 -->
  <!-- === Slide 2 === -->
  <div class="slide story" id="about-us" data-slide="2">
    <div class="container">
      <div class="row">
         <div class="col-sm-12 rtl">
          <h3 style="text-align: justify;">
 שחקנית, מחזאית, מוזיקאית, במאית ומנחת סדנאות תיאטרון לילדים ומבוגרים
עלתה לארץ מצרפת ב1984. בעלת תואר שני בסוציולוגיה מאוניברסיטת סורבון.
עשייה בתחומים שונים באמנות, הובילה אותה ללמוד ליצנות רפואית, פיתוח קול ושילוב אמנויות במכללת דוד ילין. מישל בעלת תעודת הוראה . כיום היא  מורה לתיאטרון ואמנות פלסטית בבית הספר "זיו" בירושלים.. היא הקימת פרויקטים חינוכיים – חברתיים שונים  כגון כתיבה ובימוי של הצגות עם תלמידי ט' עד יא' מיועדות לתלמידי היסודי (שחקנים וצופים הם תלמידים)
          </h3>
         </div>
      </div><br>
      <!-- /row -->
     <div class="row line-row">
        <div class="hr">&nbsp;</div>
     </div>
    </div>
    <!-- /container -->
  </div>
  <!-- /slide2 -->
  <!-- === Slide 3 === -->
  <div class="slide story" id="clients" data-slide="3">
    <div class="container">
     <div class="row title-row">
        <div class="col-12 font-thin"><span class="font-semibold">כתיבת מחזות לנוער</span></div></div>
        <br>
        <h3  dir="rtl" style="text-align: justify;">
        כאשת חינוך, אני לעיתים קרובת עדה  לסיטואציות מורכבות ובלתי הולמות אם מדובר בגזענות, אלימות... החלטתי להילחם בתופעות אילה דרך תיאטרון. זה הכלי שאני משתמשת להעיר את צומת ליבם של התלמידים
הצגות: "הילם"  "מלכי הכיתה"  "היו היה פעם"  "מחכים לשמש"  "המסכה השקופה" ועוד מערכונים שמבקרים וממחישים בסגנון הומוריסטי -אבסורדי תופעות המתרחשות בחברה ובבתי ספר בפרט כגון אלימות מילולית ופיזית, בריונות, חוסר הקשבה וכבוד.
         </h3>
     </div>
     <!-- /row --><br>
    <div class="row line-row">
        <div class="hr">&nbsp;</div>
    </div>
    <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /slide3 -->
  <!-- === Slide 4 === -->
  <div class="slide story" id="process" data-slide="4">
    <div class="container">
      <div class="row title-row">
         <div class="col-12 font-thin"><span class="font-semibold">מה זה ניקיטוש</span></div></div>
         <br>
         <div class="col-sm-5 rtl">
          <h4 style="text-align: justify;"><span class="font-semibold"> מה זה ניקיטוש: </span>
 עבודה נשית. בתוניס, נשים היו נפגשות ומכינות יחד, במעגל, סוג של פטיטים הנקרא ניקיטוש. רינה וקלרה, שתי הדמויות בהצגה משתדלות לרקום מציאות שונה על רקע המצוקה שלהן
 כאישה יוצרת, המתגוררת  בירושלים, מישל ציטיאט נחשפה לפסיפס אנושי מרתק.
אנשים ממגזרים שונים ומנוגדים  בתפיסת עולמם נפגשים בכל מקום בעיר הזו. וההתבוננות הזו יצרה דחף ליצירה.  כך נוצר המחזה "ניקיטוש" . מפגש בין שתי נשים שכל אחת מהן, פן מאישיותה  של מישל.
          </h4>
         </div>
         <div class="col-sm-7 rtl">
          <h4 style="text-align: justify;"><span class="font-semibold">תקציר: </span>
הצגת "ניקיטוש" עוסקת במפגש בלתי צפוי בין אומנות לאמונה.
שתי נשים, שני עולמות שונים. רינה צברית חוזרת בתשובה ששכלה את בעלה במלחמה וקלרה שחקנית צרפתייה תוססת וחושנית  נאלצות לחלוק את אותה הדירה לפרק זמן מסוים. נוצרת שרשרת של סיטואציות משעשעות ומרגשות לסירוגין ומתפתחת דרמה קומית על רקע הבדלי תפיסות העולם שלהן.
ההצגה הועלתה בבית ברבור בתל אביב ובתאטרון "ענבל" במתחם סוזן דלל"
וההצלחה הייתה גדולה
מעבר ליצירה האמנותית, ההצגה הזו מאווה  סוג של שליחות כי ההצגה עוסקת  בקבלת האחר והמסר הוא של סובלנות ואחדות.
ההצגה יכולה להתלוות בסדנה ושיחה על הנושאים שהעלו בהצגה.
          </h4>
         </div>
      </div><br>
    <!-- /row -->
        <div class="row" style="padding: 10px;">
            <img class="mySlides" src="{{ url_for('static', filename='img/1.jpg') }}" style="width:40%;text-align-last: center;display:none">
            <img class="mySlides" src="{{ url_for('static', filename='img/3.jpg') }}" style="width:40%;text-align-last: center;">
            <img class="mySlides" src="{{ url_for('static', filename='img/5.jpg') }}" style="width:40%;text-align-last: center; display:none">
            <img class="mySlides" src="{{ url_for('static', filename='img/6.jpg') }}" style="width:40%; display:none">
            <img class="mySlides" src="{{ url_for('static', filename='img/7.jpg') }}" style="width:40%;text-align-last: center; display:none">
            <img class="mySlides" src="{{ url_for('static', filename='img/8.jpg') }}" style="width:40%;text-align-last: center; display:none">
        </div>
        <div class="row">
            <div class="col-sm-2 rtl">
                <img class="demo w3-opacity w3-hover-opacity-off" src="{{ url_for('static', filename='img/3.jpg') }}" style="width:100%;cursor:pointer" onclick="currentDiv(2)">
            </div>
            <div class="col-sm-2 rtl">
                <img class="demo w3-opacity w3-hover-opacity-off" src="{{ url_for('static', filename='img/1.jpg') }}" style="width:100%;cursor:pointer" onclick="currentDiv(1)">
            </div>
            <div class="col-sm-2 rtl">
                <img class="demo w3-opacity w3-hover-opacity-off" src="{{ url_for('static', filename='img/5.jpg') }}" style="width:100%;cursor:pointer" onclick="currentDiv(3)">
            </div>
             <div class="col-sm-2 rtl">
                <img class="demo w3-opacity w3-hover-opacity-off" src="{{ url_for('static', filename='img/6.jpg') }}" style="width:100%;cursor:pointer" onclick="currentDiv(4)">
            </div>
             <div class="col-sm-2 rtl">
                <img class="demo w3-opacity w3-hover-opacity-off" src="{{ url_for('static', filename='img/7.jpg') }}" style="width:100%;cursor:pointer" onclick="currentDiv(5)">
            </div>
            <div class="col-sm-2 rtl">
                <img class="demo w3-opacity w3-hover-opacity-off" src="{{ url_for('static', filename='img/8.jpg') }}" style="width:100%;cursor:pointer" onclick="currentDiv(6)">
            </div>
  </div><br>
     <div class="row line-row">
        <div class="hr">&nbsp;</div>
     </div>
    </div>
    <!-- /container -->
  </div>
  <!-- /slide4 -->
  <!-- === Slide 5 === -->
  <div class="slide story" id="music" data-slide="5">
    <div class="container">
     <div class="row title-row">
        <div><span class="font-semibold">מוזיקה</span></div>
     </div>
     <div class="row title-row">
         <div class="col-sm-6">
            <img src="{{ url_for('static', filename='img/music.jpg') }}" style="width:50%;">
        </div>
        <div class="col-sm-6">
          <h3  dir="rtl" style="text-align: justify;">
מישל גם מוזיקאית וזמרת ז'אז. בוסה נובה, שנסון  צרפתי ועוד. הוא נחשפה למוזיקה ברזילאית בגיל 15 ושרה שירים של קאטנו ולוסו, ויניסיוס דה מוראס, ג'ובים ועוד. בצרפת הייתה בלהקה " ז'אז או ברזיל" למשך 9 שנים וההרכב הופיע בהרבה מועדוני ז'אז ופסטיבלים.
          </h3><br>
          <audio controls>
                <source src="{{ url_for('static', filename='music/16.mp3') }}" type="audio/mpeg">
          </audio>
        </div>
     </div>
     <!-- /row --><br>
    <div class="row line-row">
        <div class="hr">&nbsp;</div>
    </div>
    <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /slide5 -->
  <!-- === Slide 6 === -->
  <div class="slide story" id="workshops" data-slide="6">
    <div class="container">
     <div class="row title-row">
        <div class="col-12 font-thin"><span class="font-semibold"> סדנת גיבוש דרך תיאטרון לחברות ובתי ספר</span></div></div>
        <br>
        <h3  dir="rtl" style="text-align: justify;">
  תרגילי שחרור, משחקי תקשורת, פנטומימה, משחקי תפקידים, אלתורים...והכל מלווה במוזיקה ובצחוקים.
העצמת המשתתפים דרך כלים מעולם התאטרון
הסדנה מועברת על ידי מישל ציטיאט
שחקנית ומורה לתאטרון
                 בעלת ניסיון רב  בהנחיית קהלים מגוונים:
כנסים, אירועי תרבות, ימי כייף ועוד...
         </h3>
     </div>
     <!-- /row --><br>
     <div class="row" style="padding: 10px;">
       <img src="{{ url_for('static', filename='img/sadnaot.png') }}" style="width:40%;">
     </div>
    <div class="row line-row">
        <div class="hr">&nbsp;</div>
    </div>
    <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /slide6 -->
  <!-- === Slide 7 / Contact === -->
  <div class="slide story" id="contact" data-slide="7">
    <div class="container">
      <div class="row title-row">
        <div class="col-12 font-light">צרו קשר</span></div>
      </div>
      <!-- /row -->
      <div class="row title-row">
        <div><h3> טלפון: 052-5600493</h3></span></div>
        <div><h3>דוא"ל: aaa@gmail.com</h3></span></div>
      </div>
      <!-- /row -->
      <div class="row line-row">
        <div class="hr">&nbsp;</div>
      </div>
      <!-- /row -->

      <div class="row">
        <div class="col-md-8 col-md-offset-2">

          <form class="contact-form" role="form" action=/test  method ="POST">

            <div class="form-group">
              <label class ="rtl" for="contact-name">שם:</label>
              <input type="name" name="name" class="form-control" id="contact-name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" >
              <div class="validate"></div>
            </div>
            <div class="form-group">
              <label class ="rtl" for="contact-email">דואר אלקטרוני:</label>
              <input type="email" name="email" class="form-control" id="contact-email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email">
              <div class="validate"></div>
            </div>
            <div class="form-group">
              <label class ="rtl" for="contact-subject">נושא:</label>
              <input type="text" name="subject" class="form-control" id="contact-subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject">
              <div class="validate"></div>
            </div>

            <div class="form-group">
              <label class ="rtl" for="contact-message">פרטי הודעה:</label>
              <textarea class="form-control" name="message" id="contact-message" placeholder="Your Message" rows="5" data-rule="required" data-msg="Please write something for us"></textarea>
              <div class="validate"></div>
            </div>

            <div class="loading"></div>
            <div class="error-message"></div>
            <div class="sent-message">Your message has been sent. Thank you!</div>

            <div class="form-send">
              <button type="submit" class="btn btn-large">שלח</button>
            </div>

          </form>
        </div>
      </div>
    </div>
    <!-- /container -->
  </div>

  <div id="copyrights">
    <div class="container">
      <p>
        &copy; Copyrights <strong>Munter</strong>. All Rights Reserved
      </p>
      <div class="credits">
        <!--
          You are NOT allowed to delete the credit link to TemplateMag with free version.
          You can delete the credit link only if you bought the pro version.
          Buy the pro version with working PHP/AJAX contact form: https://templatemag.com/munter-bootstrap-one-page-template/
          Licensing information: https://templatemag.com/license/
        -->
        Created with Munter template by <a href="https://templatemag.com/">TemplateMag</a>
      </div>
    </div>
  </div>

  <!-- JavaScript Libraries -->
  <script src="{{ url_for('static', filename='lib/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/bootstrap/js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/easing/easing.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/php-mail-form/validate.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/fancybox/fancybox.js') }}"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>

</body>
</html>
